[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pygsheets = "*"
python-telegram-bot = "*"
mongoengine = "*"
emoji = "*"
python-dotenv = "*"
sphinx = "*"
pyrogram = {extras = ["fast"],version = "*"}

[requires]
python_version = "3.6"
